<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Connexion Groupomania</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">  
        <link rel="stylesheet"  href="/frontend/css/style.css">
    </head>
    <body>
        <section id='app'>
            <div id="bloc">
                <img class="img1" :src="linkImg">
                <p>{{texte1Connexion}}</p>
            </div>
            <label>
                <form id="formLogin">
                    <input  type="email" v-model="emailLogin" placeholder="Addrese email" class="modifChampLogin">
                    <input type="password" v-model="passwordLogin" placeholder="Mot de passe" class="modifChampLogin">
                </form>
                <form id="ensembleButton">
                    <button type="button" @click="connecter" class="modifButton">Se connecter</button>
                    <button type="button" @click="enregistrer" class="modifButton">s'enregistrer</button>
                </form>
            </label>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    texte1Connexion: "Groupomania le nouveau réseau social pour communiqué entre collègue",
                    linkImg: "../images/icon-left-font-monochrome-black.svg",
                    apiLogin: "http://localhost:3000/login",

                    emailLogin: "",
                    passwordLogin: "",
                    infosUsers: [],
                },
                methods: {
                    connecter() {
                        const emailLogin =  this.emailLogin;
                        const passwordLogin =  this.passwordLogin;
                        const objetLogin = {emailLogin, passwordLogin};

                        fetch (this.apiLogin, {
                            method: "POST", 
                            headers: {
                                'Content-Type' : 'application/json'
                            },
                            body: JSON.stringify(objetLogin)
                        })
                        .then(res => res.json())
                        .then((user) => {
                            if(user.message) {
                                console.log(user);
                                this.infosUsers.push(user.id, user.token);
                                sessionStorage.setItem("usersIdToken", JSON.stringify(this.infosUsers));

                                window.location.href="accueil.html"
                                
                            }
                            else {
                                alert("Informations incorrect");
                            }
                        })
                    },
                    enregistrer() {
                        window.location.href = "inscription.html";
                    },
                }
            })
        </script>
        
    </body>
</html>