<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>inscription Groupomania</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">  
        <link rel="stylesheet"   href="/frontend/css/style.css">
    </head>
    <body>
            <section id="app">
                <div>
                    <img class="img1" :src="linkImg">
                    <h1>{{texte1Inscription}}</h1>
                </div>
                    <label>
                        <form method="post" id ="formInscription">
                            <input type="text" v-model="prenom" placeholder="prénom" class="modifChampInscription">
                            <input type="text" v-model="nom" placeholder="nom" class="modifChampInscription">
                            <input type="email" v-model="emailRegister" placeholder="e-mail" class="modifChampInscription">
                            <input type="password" v-model="passwordRegister" placeholder="password" class="modifChampInscription">
                            <button @click="enregistrerFormulaire" type="button" class="buttonSuivant">Valider</button>
                        </form>
                    </label>
            </section>
            <script src="https://unpkg.com/vue@3"></script>
            <script>
                Vue.createApp({
                    data() {
                        return {
                            texte1Inscription: "Inscrivez vous pour accéder au site web",
                            linkImg: "../images/icon-left-font-monochrome-black.svg",
                            apiRegister: "http://localhost:3000/users/register",

                            prenom: "",
                            nom: "",
                            emailRegister: "",
                            passwordRegister: "",
                        }
                    },
                    methods: {
                        enregistrerFormulaire() {
                            const prenom = this.prenom;
                            const nom = this.nom;
                            const emailRegister = this.emailRegister;
                            const passwordRegister = this.passwordRegister;

                            const objetRegister = {prenom, nom, emailRegister, passwordRegister};
                            console.log(objetRegister);

                            fetch (this.apiRegister, {
                                method: "POST", 
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Accept': 'application/json',
                                },
                                body: JSON.stringify(objetRegister)
                            })
                            .then((res) => {
                                if(res.ok) {
                                    window.location.href = "connexion.html"
                                }
                            })
                        }
                    }
                })
                .mount("#app")
            </script>
        </body>
</html>