<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>profil Groupomania</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">  
        <link rel="stylesheet"  href="/frontend/css/style.css">
    </head>
    <body id="background">
        <section id="app">
            <form method="post">
                <p>{{titreSujet}}</p>
                <p class="obligatoire">{{titreObligatoire}}</p>
               <textarea v-model="titre" id="titreForms"></textarea>
                <div>
                    <p class="test">{{  SujetArticle }}</p>
                    <input type="file">
                </div>
                    <textarea  v-model="sujet" id="message"></textarea>
            </form>
            <button type="button"class="modifButton" @click="envoyerSujet">Envoyer</button>
        </section>
        <script src="https://unpkg.com/vue@3"></script>
        <script>
            Vue.createApp({
                data() {
                    return {
                        titreSujet: "Titre",
                        titreObligatoire: "(Obligatoire)",
                        SujetArticle: "Créer un nouveau sujet",
                        apiSujetCreate: "http://localhost:3000/post/postCreate",
                        
                        titre: "",
                        sujet: "",
                    }
                },
                methods: {
                    envoyerSujet() {
                        const recupStorage = JSON.parse(sessionStorage.getItem("usersIdToken"));
                        const userId = recupStorage[0]
                        const titre = this.titre;
                        const sujet = this.sujet;

                        if(titre == "" || sujet == "") {
                            alert("Vous ne pouvez pas envoyé de champs vide")
                        }
                        else {
                            const objetSujet = {titre, sujet, userId};
                            console.log(objetSujet)
                            fetch (this.apiSujetCreate, {
                                method: "POST", 
                                headers: {
                                    'Content-Type' : 'application/json'
                                },
                                body: JSON.stringify(objetSujet)
                            })
                            .then(res => res.json())
                            .then((data) => {
                                    window.location.href= "accueil.html"
                            })
                        }
                    }
                }
            })
            .mount("#app")
        </script>
    </body>
</html>