body {
  background-color: #f0f2f5;
}
p {
  font-family: Verdana, Tahoma, sans-serif, Helvetica, sans-serif;
}
section {
  margin-top: 5%;
  text-align: center;
}
#formLogin {
  width: 20%;
  margin: auto;
}
#ensembleButton {
  display: flex;
  justify-content: center;
}
.modifButton {
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  transition: 0.5s;
  width: 200px;
}
.modifButton:hover {
  background-color: blue;
}
.modifChampLogin {
  border: 1px solid #dddfe2;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  width: 300px;
  font-size: 17px;
}

::placeholder {
  padding-left: 10px;
  background-color: #fafafa;
}
#formInscription {
  margin-top: 10%;
  width: 20%;
  margin: auto;
}
.modifChampInscription {
  margin: 10px;
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 200px;
  font-size: 15px;
}
.buttonSuivant {
  width: 210px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #0095f6;
  border: 0px;
  color: white;
  transition: 0.5s;
}
.buttonSuivant:hover {
  background-color: #1877f2;
}
.modifTitre {
  color: black;
  text-decoration: none;
  margin-right: 70px;
  margin-top: 20px;
  
}
#accueil {
  width: 1600px;
  margin: auto;
}
#modifA {
 justify-content: right;
  background-color: #0095f6;
  display: flex;
  width: 1600px;
  height: 100px;
  margin: auto;
}
#article1 {
  display: flex;
  justify-content:space-around;
  height: 100px;
  width: 1600px;
  margin: auto;
}
#img1 {
  width: 300px;
  height: 150px;
  
}
#titreForms {
  height: 30px;
  width: 500px;
}
#message {
  height: 300px;
  width: 700px;

}
#article2 {
  height: 170px;
  width: 1000px;
  padding-left: 20px;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}
.decoration {
 color: black;
 margin-top: 50px;
}
a {
  text-decoration: none;
  color: black;
}
